<div class="container">
  <div class="row">
    <div class="four col-md-3">
      <div class="counter-box colored"> <i class="fa fa-group"></i>
        <p>Our site is used by</p>
        <span class="counter">{{userCount}} users </span>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored"> <i class="fa fa-user"></i>
        <p>Number of our administrators</p>
        <span class="counter">{{adminCount}}</span>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored"> <i class="fa fa-user"></i>
        <p>Number of our managers</p>
        <span class="counter">{{managerCount}}</span>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored"> <i class="fa fa-user"></i>
        <p>Number of our engineers</p>
        <span class="counter">{{engineerCount}}</span>
      </div>
    </div>
  </div>
</div>
