<div >
  <div class="mb-4 input">
    <label class="float-left mr-5" style="width: 160px">Name</label>
    <input type="text"
           class="form-control input-field"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="compound.name"
           value="{{compound.name}}">
  </div>
  <div class="input">
    <label class="float-left mr-5" style="width: 160px;">Description</label>
    <input type="text"
           class="form-control input-field"
           placeholder="Name"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="compound.description"
           value="{{compound.description}}">
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class=" btn btn-primary" (click)="updateCompound()">Save changes</button>
  </div>
</div>
