<app-main-edit-compound [isActive]="true"></app-main-edit-compound>
<form class="form p-5">
  <div class="mb-4 input">
    <label class="float-left mr-5" style="width: 160px">Name</label>
    <input type="text" class="form-control input-field" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input">
    <label class="float-left mr-5" style="width: 160px;">Description</label>
    <input type="text" class="form-control input-field" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class=" btn btn-primary">Save changes</button>
  </div>
</form>
