<div class="container-fluid mr-5 mt-5">

  <div class="choose-scenario-dataset">
    <div class="form-row">

      <div class="form-group col-md-6">
        <div class="col-auto">
          <select class="custom-select mr-sm-2" [(ngModel)]="scenario" (change)="onScenarioChosen()">
            <option [value]=undefined selected disabled> Choose scenario</option>
            <option *ngFor="let availableScenario of scenarios" [value]="availableScenario">
              {{availableScenario.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="col-auto">
          <select class="custom-select mr-sm-2" [(ngModel)]="dataset" (change)="onDatasetChosen()">
            <option [value]=undefined selected disabled> Choose dataset</option>
            <option *ngFor="let availableDataset of datasets" [value]="availableDataset">
              {{availableDataset.name}}
            </option>
          </select>
        </div>
      </div>

    </div>
  </div>

  <div class="testcase-form" *ngIf="showForm">
    <div class="form-group m-3">
      <input class="form-control" [(ngModel)]="testCaseName" placeholder="Enter name">
    </div>


    <div class="form-group  m-4" *ngFor="let step of scenarioSteps; let i=index">
      <div *ngIf="step.compound != null">

        <div class="row my-3">
          <div class="col">
            <h5>{{step.priority}} Compound name: {{step.compound.name}}</h5>
          </div>
          <div class="col">

          </div>
        </div>

        <div class="row" *ngFor="let action of step.actions; let j=index">
          <div class="col">
            <p>Action name: {{action.name}}</p>
          </div>
          <div class="col">
            <div class="row mb-3" *ngFor="let variable of action.variables; let k=index">
              <select class="custom-select mr-sm-2" [(ngModel)]="varVals[i][j][k].dataEntryId"
                      (change)="onDataEntrySelect(i, j, k)">
                <option [value]=-1 selected disabled>{{variable.name}}</option>
                <option *ngFor="let dataEntry of dataEntries" [value]="dataEntry.id">
                  {{dataEntry.value}}
                </option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="row my-3" *ngIf="step.compound == null">
        <div class="col">
          <h5>{{step.priority}} Action name: {{step.actions[0].name}}</h5>
        </div>
        <div class="col">
          <div class="row mb-3" *ngFor="let variable of step.actions[0].variables; let k=index">
            <select class="custom-select mr-sm-2" [(ngModel)]="varVals[i][0][k].dataEntryId"
                    (change)="onDataEntrySelect(i, 0, k)">
              <option [value]=-1 selected disabled>{{variable.name}}</option>
              <option *ngFor="let dataEntry of dataEntries" [value]="dataEntry.id">
                {{dataEntry.value}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
