<div class="m-3 border border-primary rounded">
  <div class="m-3">
    <label class="font-weight-bold">Compound:</label><br>
    <label>
      <select class="custom-select mr-sm-2" #compoundName>
        <option *ngFor="let compound of compounds">{{compound.name}}</option>
      </select>
    </label>
    <br>
    <button class="btn btn-outline-success m-1" type="button" (click)="createCompound()">Create</button>
    <button class="btn btn-outline-danger m-1" type="button" (click)="cancelCompound()">Cancel</button>
  </div>
</div>


