<div class="category-wrap">
  <h3 class="mb-5">{{name}}</h3>
  <ul class="mt-4">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/list-of-test-case-execution">Test Case History</a></li>
    <li><a routerLink="/library/actions">Libraries</a></li>
<!--
    <li><a routerLink="list-of-test-scenarios">Test Scenario</a></li>
-->

    <li><a routerLink="/test-scenario">Test Scenario</a></li>
    <li><a routerLink="/list-of-data-set">Data Set</a></li>
    <li><a routerLink="/users">Users</a></li>
    <li><a routerLink="/notification">Notification</a></li>
    <li><a routerLink="/notification">Notification</a></li>
    <div style="padding-top: 49vh">
      <li><a routerLink="/settings">Settings</a></li>
    <div style="padding-top: 75%">
      <li><a (click)="logout()">Log out</a></li>
    </div>
  </ul>
</div>
