<!--<ul routerLinkActive="active">
  <li ><a routerLink="home">Home</a></li>
  <li *ngIf="authority === 'admin'" >
    <a  routerLink="admin">Admin Board</a>
  </li>
  <li *ngIf="!authority" >
    <a  routerLink="auth/login">Login</a>
  </li>
</ul>
-->
<!--

<div class="float-left"><router-outlet></router-outlet></div>

-->
<div class="router-outlet">
  <div class="float-left"><app-menu  *ngIf="authority === 'admin'" class="mr-0 h-100"></app-menu></div>
  <div class="float-left"><router-outlet></router-outlet></div>
  <!--<router-outlet></router-outlet>-->
</div>

<!--<router-outlet></router-outlet>-->

