<div class="row ">
  <div class="col-11 p-4 ml-5">
    <div class="ml-2 headbuttons">

      <button class=" btn btn-default w-25 button-selected" disabled>Edit Compound</button>
    </div>
    <hr class=" mt-0" style="position: relative; top: -0.7px">
  </div>
</div>



<app-edit-name-data-set [dataSet]="dataSet"></app-edit-name-data-set>
<app-edit-data-entry [dataEntry]="dataEntry" [dataSetId]="dataSet.id"></app-edit-data-entry>

<button class="btn btn-outline-success bg-white" (click)="saveChanges()">Save changes</button>


