
<table class="table shadow">
  <thead class="shadow">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col" *ngIf="createCompound">#</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let action of actions; let i = index" routerLink="/action/view-edit/{{i+1}}">
    <td scope="row">{{action.actionId}}</td>
    <td>{{action.actionName}}</td>
    <td>{{action.actionDescription}}</td>
    <td *ngIf="createCompound"><button (click)="createActionForCompound(action,i)"  class="btn btn-outline-success bg-white">Add</button></td>
  </tr>
  </tbody>



</table>



<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination" >
    <li class="page-item">
      <a class="page-link" (click)="getPrevious()" aria-label="Previous">
        <span aria-hidden="true" >&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let page of [].constructor(numberOfPages); let i = index">
      <a class="page-link" (click)="getPage(i+1)" [ngClass]="{background: pageNumbers === i+1}">{{i+1}}</a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="getNext()" aria-label="Next">
        <span aria-hidden="true" >&raquo;</span>

      </a>
    </li>
  </ul>
</nav>


