<div class="container-lg p-3">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" #buttonList (click)="clickButtonList()">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" #buttonCreate (click)="clickButtonCreate()">Create</a>
        </li>
      </ul>
      <app-test-scenario-create
        *ngIf="isActiveButtonCreate"
        (eventCreated)="clickButtonList()">
      </app-test-scenario-create>
      <app-test-scenario-list
        *ngIf="isActiveButtonList">
      </app-test-scenario-list>
    </div>
  </div>
</div>
