<div style="margin-left: 30px; margin-top: 30px;">
  <div>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchedDataSet"
            placeholder="search data set">
  </div>

  <div style="text-align: right; margin: 20px">
    <button type="button" class="btn btn-outline-primary" routerLink="/create-data-set">Create Data Set</button>
  </div>

  <table class="table" style="width: 500px;">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allDataSet | filter:searchedDataSet | slice:start:end" >
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td style="text-align: right;">
          <button type="button" class="btn btn-outline-info" routerLink="/dataset/edit/{{item.id}}">edit</button>
          <button type="button" class="btn btn-outline-danger" (click)="delete(item.id)">X</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" style="margin-left: 30%">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"  aria-label="Previous" (click)="previousPage()">
          <span aria-hidden="true"><</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
