
<app-search-actions
  [createCompoundSearchActions]="createCompoundSearchActions"
  (createActionsCompound)="getAllActions()"
(actions)="getActionsFromSearch($event)"></app-search-actions>


<div class="row align-top">
  <div class="col-10 pl-4 ml-4">
    <div class="row justify-content-end">
      <div class="col-10" style="padding-left: 62px;">
        <app-list-actions
                          [actions]="actions"
                          [numberOfPages]="numberOfPages"
                          [pageNumbers]="pageNumber"
                          [pageSize]="pageSize"
                          [orderSearch]="orderSearch"
                          [createCompound]="createCompound"
                          (actionForCompound)="getActionForCompound($event)"></app-list-actions>


      </div>
    </div>




    <label class="float-left mr-5 " style="width: 160px">Compound Action</label>


    <div class=" d-flex table-actions" >
      <button (click)="alert()">alert</button>
      <table class="table shadow">
        <thead class="shadow">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Priority</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let action of addedActionForCompound | slice:paginationStart:paginationEnd; let i = index">
          <td scope="row">{{action.actionId}}</td>
          <td>{{action.actionName}}</td>
          <td>{{action.actionDescription}}</td>
          <td><input type="number" class="priority border-0" value="1" [min]="1" [max]="addedActionForCompound.length"></td>
          <td><a class="font-weight-bold text-dark" (click)="deleteActionFromCompound(i,action.actionId)">X</a></td>
        </tr>
        </tbody>



      </table>
    </div>

    <div class="row justify-content-end">
      <div class="col-10" style="padding-left: 62px;">
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
          <ul class="pagination" >
            <li class="page-item">
              <a class="page-link"  aria-label="Previous">
                <span aria-hidden="true" >&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let page of [].constructor(addedActionsPagination); let i = index">
              <a class="page-link" (click)="getPage(i+1)">{{i+1}}</a>
            </li>

            <li class="page-item">
              <a class="page-link"  aria-label="Next">
                <span aria-hidden="true" >&raquo;</span>

              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

