<nav class=" rounded navbar navbar-expand-lg navbar-light bg-light mt-4 mb-1">
  <input type="text"
         class="form-control  mr-sm-3"
         placeholder="Search Actions"
         name="search" [(ngModel)]="searchedAction">
</nav>
<div cdkDropListGroup class=" pl-5 pb-4 ml-5 mt-0 ">
  <div  class="example-container">
    <h3>Actions<span>(drag actions)</span></h3>
    <div
      id="actions"
      cdkDropList
      [cdkDropListData]="actions"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of actions | filter : searchedAction " cdkDrag>
        <h6>{{item.actionName}} ( {{item.actionDescription}} )</h6>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Added Actions</h3>
    <div
      id="actionsInCompound"
      cdkDropList
      [cdkDropListData]="actionsInCompound"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div  class="example-box" *ngFor="let item of actionsInCompound; let i = index" cdkDrag>
        <h6>{{item.actionName}} ( {{item.actionDescription}} ) </h6>
        <div class="">
          <h6 class=" text-success">Priority [ {{i+1}} ]</h6>
        </div>
      </div>
    </div>
  </div>
</div>

