<div class="container-fluid mr-5 mt-5">

  <div class="testcase-form">
    <div class="form-group m-3">
      <input class="select-test-case form-control" [(ngModel)]="testCase.testCase.name" disabled>
    </div>

    <app-test-case-body (showFormButton)="showForm = $event"></app-test-case-body>
  </div>


  <div class="d-inline ml-3">
    <a  routerLink="/projects/{{testCase.testCase.projectId}}/testcase/{{testCase.testCase.id}}/edit">
    <button class="btn btn-primary">Edit</button>
    </a>
  </div>

  <div class="d-inline m-4">
    <a >
      <button [className]="isFollowed ? 'btn btn-danger' : 'btn btn-primary'"
              [textContent]="isFollowed ? 'Unfollow' : 'Follow'"
      (click)="onFollowButton()"></button>
    </a>
  </div>


  <a >
    <button type="button" class="btn btn-success" (click)="run(testCase.testCase.id)">Run</button>

  </a>

</div>


