<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-action-execution-dashboard></app-action-execution-dashboard>
    </div>
    <div class="col">
      <app-dashboard-top-subscribed-test-cases></app-dashboard-top-subscribed-test-cases>
    </div>
    <div class="col">
      <app-dashboard-count></app-dashboard-count>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-dashboard-testcase-execution-number></app-dashboard-testcase-execution-number>
    </div>
    <div class="col">
      <app-dashboard-test-case-executions-by-dates></app-dashboard-test-case-executions-by-dates>
    </div>
  </div>


</div>
