button{
  margin-left: 15px;
  color: grey;
  height: 40px;
  border-color: #E5E5E5;
}
.button-selected{
  background: white;
  z-index: 4;

  border-bottom: 0;
  height: 40px;
}

.headbuttons{
  display: flex;
  justify-content: flex-start;
}
hr{
  position: relative;
  width: 1000px;
  top: -0.7px
}
