<div class="container-fluid  p-5">
  <div class="row align-top">

    <div class="col-12">
      <div class="ml-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" #buttonActions (click)="clickButtonActions()">Actions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" #buttonCompounds (click)="clickButtonCompounds()">Compounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" #buttonCreateAction (click)="clickButtonCreateAction()">Create Action</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" #buttonCreateCompound (click)="clickButtonCreateCompound()">Create Compound</a>
          </li>
        </ul>
      </div>

      <div class="m-3">
        <div *ngIf="isButtonActions">
          <app-search-actions
            [orderSearch]="orderSearch"
            (actions)="getActionsFromSearch($event)"
            (numberOfPages)="getNumberOfPagesFromSearch($event)"></app-search-actions>
          <app-list-actions [actions]="actions"
                            [numberOfPages]="numberOfPages"
                            [pageNumbers]="pageNumber"
                            [pageSize]="pageSize"
                            [orderSearch]="orderSearch"></app-list-actions>
        </div>

        <div *ngIf="isButtonCompounds">
          <app-list-compounds></app-list-compounds>
        </div>

        <div *ngIf="isButtonCreateAction">
          <app-create-action></app-create-action>
        </div>

        <div *ngIf="isButtonCreateCompound">
          <app-create-compound></app-create-compound>
        </div>
      </div>

    </div>
  </div>
</div>

