<div class="container-fluid  p-5">
  <div class="row align-top">

    <div class="col-12">
      <div class="ml-2">
        <button class="btn btn-default" >Libraries</button>
        <button class=" btn btn-default mr-3 ml-3 " >Compound</button>
        <button class="btn btn-default button-selected " >Actions</button>
      </div>
      <hr class=" mt-0" style="position: relative; top: -0.7px">
      <app-search-actions
                        [orderSearch]="orderSearch"
                        (actions)="getActionsFromSearch($event)"
                        (numberOfPages)="getNumberOfPagesFromSearch($event)"></app-search-actions>
      <app-list-actions [actions]="actions"
                        [numberOfPages]="numberOfPages"
                        [pageNumbers]="pageNumber"
                        [pageSize]="pageSize"
                        [orderSearch]="orderSearch"></app-list-actions>
    </div>
  </div>
</div>

